---
name: Build yadg
on:
    workflow_call:
        inputs:
            os:
                required: true
                type: string
            pyver:
                required: true
                type: string

jobs:
    build:
        runs-on: ${{ inputs.os }}
        steps:
          - uses: actions/checkout@v3
            with:
                fetch-depth: 0
          - uses: actions/setup-python@v2
            with:
                python-version: ${{ inputs.pyver }}
          - name: Install dependencies
            shell: bash
            run: |
                python -m pip install --upgrade pip
                pip install -U setuptools wheel
          - name: Build yadg
            shell: bash
            run: |
                python setup.py bdist_wheel
          - uses: actions/upload-artifact@v3
            with:
                name: dist-${{ inputs.os }}-${{ inputs.pyver }}
                path: dist